*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  widtH: 100%; }

body {
  position: relative;
  width: 100%;
  height: 100%; }

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 22rem;
  height: 35rem;
  padding: 1rem;
  margin-left: 3rem;
  margin-top: 2rem;
  background-color: rgba(30, 44, 44, 0.692);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 6rem repeat(5, 5rem);
  grid-template-columns: [start-line] repeat(4, 5rem) [end-line];
  text-align: center; }

.screen {
  border: 0.5rem solid #5c5656;
  background-color: black;
  grid-column: start-line / end-line;
  color: white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: .7rem;
  z-index: 1; }
  .screen__display {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem; }

.row {
  padding-top: 3rem;
  grid-column: start-line / end-line;
  grid-row: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-content: center;
  justify-items: center; }

.btn {
  width: 90%;
  height: 100%;
  background-color: #3a3535;
  font-size: 1.1rem;
  padding: 1.6rem;
  color: white;
  border-radius: 10px;
  border-bottom: none;
  text-align: center; }
  .btn:hover {
    background-color: #c5d3a0;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 0 3px #b8f01d; }
  .btn:active {
    background-color: #b0c37d;
    transform: translateY(2px);
    box-shadow: 0 0 0 3px #c5d3a0; }
  .btn-ce {
    background-color: #cf3e3e;
    grid-column: 1 / 3; }
    .btn-ce:hover {
      background-color: #e08b8b;
      box-shadow: 0 0 0 3px #cf3e3e; }
    .btn-ce:active {
      background-color: #c33030;
      box-shadow: 0 0 0 3px #e08b8b;
      color: white; }
  .btn-equal {
    background-color: #1c90f5;
    grid-column: 3 / 5; }
    .btn-equal:hover {
      background-color: #7ec0f9;
      box-shadow: 0 0 0 3px #1c90f5; }
    .btn-equal:active {
      background-color: #0976d5;
      box-shadow: 0 0 0 3px #1c90f5;
      color: white; }
  .btn-modulo {
    font-size: 1.2rem; }
    .btn-modulo span {
      display: block;
      transform: translateX(-0.32rem); }
