*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    
    // font-size: 62.5%;
    
    // @include respond(tab-land) {  // width < 1200
    //     font-size: 56.25%;  // 1 rem = 9px, 9/16 = 56.25%
    // }
    // @include respond(tab-port) { // width < 900
    //     font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    // }
    // @include respond(big-phone) { // width < 700
    //     font-size: 37%; // 1 rem = 6px, 6/16 = 37%
    // }
    // @include respond(phone) { // 1rem = 5 px, 5/16 = 31.2%
    //     font-size: 31.2%;
    // }
    // @include respond(big-desktop) {
    //     font-size: 75%; // 1rem = 12, 12/16 = 75%;
    // }

    height: 100%;
    widtH: 100%;

}

body {
    width: 50%;
    height: 100%;
}

.container {
    width: 22rem;
    height: 35rem;
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;
    background-color: rgba(30, 44, 44, 0.692);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 6rem repeat(5, 5rem);
    grid-template-columns: [start-line] repeat(4, 5rem) [end-line];
    text-align: center;
}
