

.screen {
    border: .5rem solid rgb(92, 86, 86);
    background-color: black;
    grid-column: start-line / end-line;
    text-align: right;
}



.row {
    // border: 1px solid black;
    // background-color: red;
    padding-top: 3rem;
    grid-column: start-line / end-line;
    grid-row: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-content: center;
    justify-items: center;
    
    &-1 {
        // .btn-ce {
        //     background-color: $color-bg-ce;
        //     grid-column: 1 / 3;

        //     &:hover {
        //         background-color: $color-bg-ce-light;
        //     }
        // }
    }

    &-2 {

    }

    &-3 {

    }

    &-4 {
        
    }

    &-5 {
        // .btn-equal {
        //     background-color: rgb(28, 144, 245);
        //     grid-column: 3 / 5;

        //     &:hover {
        //         background-color: $color-bg-equal-light;
        //         box-shadow:  0 0 0 1px $color-bg-equal;
        //     }
        // }
    }
}


.btn {
    width: 90%;
    height: 100%;
    background-color: $color-bg-btn;
    font-size: 1.1rem;
    padding: 1.6rem;
    color: white;
    // border: 1px solid rgb(255, 115, 0);
    border-radius: 10px;
    border-bottom: none;
    text-align: center;
    // padding-bottom: 1.8rem;

    &:hover {
        background-color: $color-generic-hover;
        // box-shadow:  0 0 0 1px rgba(39, 43, 37, 0.678);
        color: black;
        cursor: pointer;
    }
    &:active {
        background-color: $color-generic-active;
    }


    &-ce {
        background-color: $color-bg-ce;
        grid-column: 1 / 3;

        &:hover {
                background-color: $color-bg-ce-light;
            }
    }

    &-equal {
        background-color: rgb(28, 144, 245);
        grid-column: 3 / 5;

        &:hover {
            background-color: $color-bg-equal-light;
            box-shadow:  0 0 0 1px $color-bg-equal;
            }
    }

}
