
$color-bg-btn: rgb(58, 53, 53);
$color-bg-ce: rgba(194, 48, 48, 0.671);
$color-bg-ce-light: lighten($color-bg-ce, 10%); 
$color-bg-equal: rgb(28, 144, 245);
$color-bg-equal-light: lighten($color-bg-equal, 20%);
$color-generic-hover: rgb(197, 211, 160);
$color-generic-active: darken($color-generic-hover, 10%);
